#what .item-group {
  display: block;
  padding: 1rem;
}

/* Align icon to left */
#what .item-group .item {
  display: flex;
  text-align: left;
}

/* Position icon */
#what .item-group .item i {
  margin-right: 1.3rem;
  align-self: center;
  margin-bottom: 0;
}

/* Smartphones */
@media (max-width: 500px) {
  * {
    scroll-margin-top: 75px;
  }
  .l-heading {
    font-size: 3.9rem;
  }

  #navbar {
    flex-direction: column;
    align-items: center;
  }

  #navbar .logo {
    margin-bottom: 0.5rem;
    text-align: center;
  }

  #navbar ul {
    padding: 0.5;
  }

  #showcase .showcase-content {
    margin-top: -2rem;
  }

  #who {
    display: block;
  }
  #who .who-img {
    display: none;
  }

  #clients .item-group img {
    width: 80%;
  }
  #clients .item-group div:last-child {
    display: none;
  }

  #contact {
    flex-direction: column;
    display: block;
  }

  #contact #map {
    height: 200px;
    border-top: 4px solid #333;
  }
}
